<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.lee.mobilesafe" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.write_external_storage"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.application.lee.mobilesafe.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <receiver
            android:name="com.application.lee.mobilesafe.chapter02.receiver.MyDeviceAdminReceiver"
            android:description="@string/sample_device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.application.lee.mobilesafe.chapter02.receiver.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name="com.application.lee.mobilesafe.chapter01.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.application.lee.mobilesafe.HomeActivity"/>
        <activity android:name="com.application.lee.mobilesafe.chapter02.LostFindActivity"/>
        <activity android:name="com.application.lee.mobilesafe.chapter02.SetUp1Activity"/>
        <activity android:name="com.application.lee.mobilesafe.chapter02.SetUp2Activity"/>
        <activity android:name="com.application.lee.mobilesafe.chapter02.SetUp3Activity"/>
        <activity android:name="com.application.lee.mobilesafe.chapter02.SetUp4Activity"/>
        <activity android:name="com.application.lee.mobilesafe.chapter02.ContactSelectActivity"/>

        <service
            android:name="com.application.lee.mobilesafe.chapter02.service.GPSLocationService"
            android:persistent="true">
        </service>
        </application>

</manifest>
